{% extends "main/base.html" %}

{% block body %}
<div class="container">
    <h1 class="text-center" style="color:orange;">Chemistry Notes</h1>
    <section>
        <h1 style="color:orange;">Inorganic Chemistry</h1>
        <p1>0. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Measurements and Errors' %}">Measurements and
                Errors</a>
            </p>
            <p>1. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Units and
                    Dimensions</a>
            </p>
            <p>2. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Vectors' %}">Vectors</a>
            </p>
            <p>3. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Kinematics' %}">Kinematics</a></p>
            <p>4. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'" href="{% url 'main:notes_details' 'Chemistry' 'Projectile
                    Motion' %}">Projectile
                    Motion</a>
            </p>
            <p>5. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'" href="{% url 'main:notes_details' 'Chemistry' 'Laws of
                    Motion' %}">Laws of
                    Motion</a>
            </p>
            <p>6. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Work Energy and Power' %}">Work Energy
                    and
                    Power</a>
            </p>
            <p>7. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Circular Motion' %}">Circular
                    Motion</a>
            </p>
            <p>8. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Center of
                    Mass,
                    Linear
                    Momentum and Collision</a></p>
            <p>9. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Rotational Mechanics' %}">Rotational
                    Mechanics</a>
            </p>
            <p>10. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Gravitation' %}">Gravitation</a>
            </p>
            <p>11. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Shm' %}">Simple
                    Harmonic
                    Motion</a></p>
            <p>12. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Elasticity' %}">Elasticity</a>
            </p>
            <p>13. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Fluid Mechanics' %}">Fluid
                    Mechanics</a>
    </section>
    <section>
        <h2 style="color:orange">Organic Chemistry</h1>
            <p>14. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Wave Motion' %}">Wave
                    Motion</a>
            </p>
            <p>15. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Superposition of Waves' %}">Superposition
                    of
                    Waves</a></p>
            <p>16. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Sound Waves' %}">Sound
                    Waves</a>
            </p>
            <p>17. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Thermometery,
                    Thermal
                    Expansion and Kinetic Theory of Gases</a></p>
            <p>18. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Laws of Thermodynamics' %}">Laws of
                    Thermodynamics</a></p>
            <p>19. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                    onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                    href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Calorimetry
                    and
                    Heat
                    Transfer</a></p>
    </section>

    <section>
        <h2 style="color:orange">Physical Chemistry</h2>
        <p>20. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Current Electricity' %}">Current
                Electricity</a>
        </p>
        <p>21. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Electrostatics</a></p>
        <p>22. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Capacitors</a>
        </p>
        <p>23. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Magnetics</a>
        </p>
        <p>24. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Electromagnetic
                Induction</a>
        </p>
        <p>25. <a style="text-decoration: none; color:aliceblue; font-style: oblique;"
                onmouseover="this.style.color='gray'" onmouseout="this.style.color='aliceblue'"
                href="{% url 'main:notes_details' 'Chemistry' 'Units and Dimensions' %}">Alternating
                Current</a>
        </p>

    </section>
</div>
{% endblock %}